@font-face{
	font-family: comical;
	src: url('../fonts/animeace2_reg.otf');
}

body {
    background-color: black;
}

.main{
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px
}

.ryu{
    float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
    width: 659px;
    height: 494px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.ryu-ready, .ryu-throwing, .ryu-cool{
    display: none;
}

.ryu-ready{
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool{
    background-image: url('../images/ryu-cool.gif')
}

/* hadouken */
.hadouken{
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: relative;
    top: 170px;
    left: -200px;
}

/*text*/
.content{
    font-family: comical;
    font-size: 30px;
    text-align: center;
}

.click{
    padding: 100px;
    min-height: 100px;
    
    
}

.type{
    min-height: 100px;
}
